@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

.main-header {
    font-size: 36px;
    font-style: italic;
    padding-top: 50px;
}

.goods {
    margin-top: 30px;
}

.goods-heading {
    font-size: 24px;
}

.goods-item {

}

.goods-item-button {

}

.cart {
    margin-top: 30px;
}

.cart-heading {
    font-size: 24px;
}