@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.form-align {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 50px;
}

.form-message {
    height: 100px;
}

.form-heading {

}

.form-text {
    padding-top: 15px;
}

.form {
    margin-top: 5px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.form-submit {
    margin-top: 15px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
