@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.main-header {
  font-size: 36px;
  font-style: italic;
  padding-top: 50px;
}

.goods-heading {
  font-size: 24px;
  padding-top: 20px;
}

.goods {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.goods-item {
  width: 170px;
  height: 220px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

.goods-item-text {
  padding-top: 10px;
}

.goods-item-button {
  margin: 5px;
  text-align: center;
}

.btn {
  padding: 2px;
}
